<% layout('/layouts/boilerplate') %>



<div class="container mt-4">
    <h2>Your Bookings</h2>
    <ul class="list-group mt-3">
        <% bookings.forEach(booking => { %>
            <li class="list-group-item">
                <strong><%= booking.listing.title %></strong> <br>
               Booked on: <%= booking.createdAt?.toDateString() || "Unknown date" %>

            </li>
        <% }) %>
    </ul>
</div>
